<div>
    <h1>indias best place for veg food</span></h1>
</div>
<table>
    <thead>
        <tr>
            <th><label for="email">Enter registered email</label></th>
            <th><input type="email" name="email" required class="inp" placeholder="Enter Email" /></th>
        </tr>
        <tr>
            <th><label for="plate">Enter number of plate</label></th>
            <th><input type="text" name="plate" class="inp" placeholder="Enter Quantity" /></th>
        </tr>
        <tr>
            <th><label for="location">Enter your location</label></th>
            <th><input type="text" name="location" required class="inp" placeholder="Enter location" /></th>
        </tr>
        <tr>
            <th><label for="password">Enter Password</label></th>
            <th><input type="password" name="password" class="inp" require placeholder="Enter Password" /></th>
        </tr>
        <tr>
            <th><label for="payment">Pay methods</label></th>
            <th>
                Pay on Delivery
            </th>
        </tr>
        <tr>
            <th></th>
            <th>
                <button style="border: 2px; padding:2px 2px; font-size: 20px;"><input type="submit" value="Place Order" style="font-size: 20px; font-weight:bolder;"></button>
            </th>
        </tr>
    </thead>
</table>

