<aside>
            <div class="top">
                <div class="logo">
                    <img src="./img/logo.png" alt="" class="logo">
                    <h2>Veg<span class="danger">Food</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/customers" class="11">
                    <span class="material-symbols-sharp">
                        person_outline
                    </span>
                    <h3>Customers</h3>
                </a>
                <a href="/order">
                    <span class="material-symbols-sharp">
                        receipt_long
                    </span>
                    <h3>Order</h3>
                </a>
                <a href="/feedback">
                    <span class="material-symbols-sharp">
                        insights
                    </span>
                    <h3>FeedBack</h3>
                </a>
                
                <a href="#">
                    <span class="material-symbols-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>