* {
    box-sizing: border-box;
    /* justify-content: center; */
    /* align-items: center; */
}

.container2 {
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container2 {
    margin: 10px auto;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}